version: "3.9"

services:
  bert-hemopep60-api:
    mem_limit: 3g # 限制容器内存使用
    memswap_limit: 3g # 限制容器交换内存使用
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9001:9001"
    volumes:
      # 挂载模型目录，这样模型只需下载一次
      - ./models:/app/models
    restart: always
    networks:
      - bert-hemopep60-network
      - axpep-ecosystem-network
    environment:
      - PYTHONUNBUFFERED=1
      - HF_MODEL_ID=Edison/BERT-HemoPep60-Predict
      - LOCAL_MODEL_PATH=/app/models
    env_file:
      - .env

networks:
  bert-hemopep60-network:
    driver: bridge 
  axpep-ecosystem-network:
    external: true